.navbar {
  height: 7vh;
}

.navBarLink {
  margin: 2rem;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #FAFAFA !important;
}

.navBarLink:hover {
  color: #932502 !important;
}