html, body {
  margin: 0px;
  height: 100%;
}
#portfolio {
  font-family: 'Work Sans', sans-serif;
}
.cover {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #F27E59;
  color: #FAFAFA;
}
header {
  padding: 1em 8em;
  letter-spacing: 0.05em;
}
.logo {
  font-size: 28px;
  font-weight: 600;
}
.navBarLink {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 600;
}
.introduction {
  position: absolute;
  width: 800px;
  text-align: left;
}
.introduction h1 {
  position: absolute;
  left: 40%;
  top: 300px;
  font-size: 64px;
  font-weight: bold;
}
.introduction h2 {
  position: absolute;
  left: 40%;
  top: 400px;
  font-size: 42px;
  font-weight: 600;
}
.introduction h3 {
  position: absolute;
  left: 40%;
  top: 470px;
  font-size: 24px;
  font-weight: 500;
}
.illustration {
  position: absolute;
  width: 300px;
  right: 20%;
  top: 350px;
}
#about {
  /* position:absolute;
  width: 100%;
  height: 100%; */
  background-color: #FFFFFF;
  /* color: #DADADA;
  position: absolute;
  left: 0; right: 0; bottom: 0; */
}
p {
  font-size: 26px;
}