html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.App {
  font-family: 'Work Sans', sans-serif;
}
#header {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #F27E59;
  color: #FAFAFA;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 0;
}
header {
  padding: 1em 8em;
  letter-spacing: 0.05em;
}
.logo {
  font-size: 28px;
  font-weight: 600;
}
.navBarLink {
  margin-right: 25px;
  font-size: 20px;
  font-weight: 600;
}
.introduction {
  position: absolute;
  width: 800px;
  text-align: left;
}
.introduction h1 {
  position: absolute;
  left: 40%;
  top: 300px;
  font-size: 64px;
  font-weight: bold;
}
.introduction h2 {
  position: absolute;
  left: 40%;
  top: 400px;
  font-size: 42px;
  font-weight: 600;
}
.introduction h3 {
  position: absolute;
  left: 40%;
  top: 470px;
  font-size: 24px;
  font-weight: 500;
}
.illustration {
  position: absolute;
  width: 300px;
  right: 20%;
  top: 350px;
}
#about {
  position: absolute;
  background-color: #FFFFFF;
  left: 0; right: 0; bottom: 0;
  z-index: 1;
}
.poop {
  display:flex;
  align-items: center;
}
#about h1 {
  font-size: 26px;
  font-weight: 800;
  color: #F27E59;
  padding-bottom: 1em;
}
.pic-col {
  display: flex;
  align-items: center;
}
.picture {
  width: 250px;
}
.info {
  color: #4D4D4D;
}
p {
  font-size: 18px;
}