.portfolio {
  font-family: 'Poppins', 'Segoe UI', 'Arial', sans-serif;
  color: #303030;
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 20px;
}
.jumbotron {
  background-color: #7c609c;
  color: #fff;
  padding: 100px;
  text-align: center;
}
.wave {
  display: block;
  margin-top: -100px;
  margin-bottom: -200px;
}
.container-fluid {
  padding: 50px 400px;
}
